<mat-toolbar class="header mat-elevation-z4">
<span>
    <a  routerLink="/">
        <img src="https://img.freepik.com/vetores-gratis/composicao-transparente-realista-de-producao-de-filme-de-cinema-com-imagem-isolada-de-badalo-com-ilustracao-vetorial-de-campos-vazios_1284-66163.jpg?w=826&t=st=1685964582~exp=1685965182~hmac=f0de1d97ef75c22e6bce7dcb9f4e2a74d4c52fb6a3c61b9c5c701fa91f699988" alt="logo" class="logo">
    </a>
</span>


<span class= "title-group">
<a href="">
    <i class="material-icons">theaters</i>
    <h1 class="title">Filmes Market</h1>
</a>
</span>


</mat-toolbar>