<mat-card class="home mat-elevation-z2">
    <mat-card-title class="title">Seja Bem Vindo</mat-card-title>
    <img src="https://img.freepik.com/vetores-gratis/composicao-transparente-realista-de-producao-de-filme-de-cinema-com-imagem-isolada-de-badalo-com-ilustracao-vetorial-de-campos-vazios_1284-66163.jpg?w=826&t=st=1685964582~exp=1685965182~hmac=f0de1d97ef75c22e6bce7dcb9f4e2a74d4c52fb6a3c61b9c5c701fa91f699988"
        alt="logo" class="logo">
    <p class="title">Um projeto criado em framework Angular</p>

</mat-card>